@import './variables';

/* MODALS */
//Increases the size of the modals
.modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.x-close-modal {
  margin: 1rem 1rem 0.5rem;
  padding: 1rem 1rem;
  cursor: pointer;

  #line-1, #line-2 {
    width:2px;
    height: 30px;
    background-color: black;
    transition: .2s ease;
  }

  #line-1 {
    transform: rotate(45deg);
  }

  #line-2{
    transform: rotate(90deg);
  }

  &:hover{
    #line-1, #line-2{
      background-color: $primary-color;
    }
  }
}

.modal-content{
  h3 {
    font-size: 2.5rem;
  }
} 

.modal-image {
  padding: 0 0.5rem 0 0.5rem;
  img{
    max-height: 300px;
    max-width: 100%;
    object-fit: cover;
  }
}

.btn-close-modal{
  padding: 18px 32px;
}
